<div class="region-province">
  <app-tables-popular
    [tableType]="'tree'"
    [treeList]="provinceList"
    [modalTreeList]="provinceAreaTree"
    [modalTreeTitle]="'请选择区域'"
    (deleteChange)="provinceDelete($event)"
    [fields]="provinceFields"
    [modalTitle]="'省级添加'"
    (addChange)="provinceAdd($event)"
    (updateChange)="provinceUpdate($event)"
    (treeSelectChange)="onTreeSelectChang($event)"
  >
    <!--<pagination
      [boundaryLinks]="true"
      [totalItems]="provinceList?.totalRecord"
      [itemsPerPage]='10'
      [(ngModel)]="provinceCurrentPage"
      (pageChanged)="provinceChange($event)"
      class="pagination-sm"
      [maxSize]="6"
      previousText="上一页"
      nextText="下一页"
      firstText="首页"
      lastText="尾页">
    </pagination>-->
  </app-tables-popular>
  <ngx-loading [show]="provinceLoading" [config]="{backdropBorderRadius: '3px'}"></ngx-loading>
  <app-smart-alert [alertsDismiss]="provinceAlertsDis"></app-smart-alert>
</div>
