.tree-popular{
  ::ng-deep .list-group{
    padding-left: 10px;
    transition: all .3s ease-in;
    .list-group-item{
      border-left: 1px dotted #A3C0D4;
      border-bottom: none;
      border-top: none;
      border-right: none;
      padding: 0;
      transition: all .3s ease-in;
      div{
        height: 30px;
        line-height: 30px;
        i,span{
          display: inline-block;
          min-width: 30px;
          height: 30px;
          vertical-align: top;
          text-align: center;
        }
        i{
          font-size: 16px;
          transition: all .3s ease-in;
          //line-height: 30px;
        }
       span{
         line-height: 30px;
       }
        &:hover{
          cursor: pointer;
          background-color: cornflowerblue;
          color: white;
        }
      }
    }
  }

}
