<div class="org-department">
  <app-tables-popular
    [tableType]="'table'"
    [thead]="departThead"
    [tbody]="departList?.contents"
    [fields]="departFields"
    [modalTitle]="'部门添加'"
    [updateTitle]="'部门修改'"
    [modalTreeList]="departTree"
    (deleteChange)="departDelete($event)"
    (addChange)="departAdd($event)"
    (updateChange)="departUpdate($event)"
    (treeSelectChange)="onTreeSelectChang($event)"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="departList?.totalRecord"
      [itemsPerPage]='10'
      [(ngModel)]="departCurrentPage"
      (pageChanged)="departChange($event)"
      class="pagination-sm"
      [maxSize]="6"
      previousText="上一页"
      nextText="下一页"
      firstText="首页"
      lastText="尾页">
    </pagination>
  </app-tables-popular>
</div>
