<div class="region-county">
  <div class="region-city">
    <app-tables-popular
      [thead]="countyThead"
      [tbody]="countyList?.contents"
      (pageChange)="countyChange($event)"
      (deleteChange)="countyDelete($event)"
      [fields]="countyFields"
      [modalTitle]="'市级添加'"
      (addChange)="countyAdd($event)"
      (updateChange)="countyUpdate($event)"
    >
      <pagination
        [boundaryLinks]="true"
        [totalItems]="countyList?.totalRecord"
        [itemsPerPage]='10'
        [(ngModel)]="countyCurrentPage"
        (pageChanged)="countyChange($event)"
        class="pagination-sm"
        [maxSize]="6"
        previousText="上一页"
        nextText="下一页"
        firstText="首页"
        lastText="尾页">
      </pagination>
    </app-tables-popular>
    <ngx-loading [show]="countyLoading" [config]="{backdropBorderRadius: '3px'}"></ngx-loading>
    <app-smart-alert [alertsDismiss]="countyAlertsDis"></app-smart-alert>
  </div>
</div>

