<div [formGroup]="form" class="form-group row">
  <label class="col-md-4 col-form-label" [for]="field?.key" [hidden]="field?.hidden">{{field?.label}}</label>
  <div class="col-md-8">
    <div [ngSwitch]="field?.controlType">
      <!--input-->
      <ng-container *ngSwitchCase="'textbox'">
        <input
          [hidden]="field?.hidden"
          [id]="field?.key"
          class="form-control"
          value="{{field?.value}}"
          [formControlName]="field?.key"
          [type]="field?.type"
          placeholder="{{field?.placeholder}}"
        />
        <span *ngIf="formErrors[field?.key]" [hidden]="field?.hidden" class="text-danger">
          {{formErrors[field?.key]}}
        </span>
      </ng-container>

      <!--textarea-->
      <ng-container *ngSwitchCase="'textarea'">
         <textarea
           [id]="field?.key"
           [value]="field?.value?field?.value:field?.placeholder"
           rows="{{field?.rows}}"
           class="form-control"
           [ngClass]="{'is-invalid': formErrors.email}"
           [formControlName]="field?.key"
           placeholder="{{field?.placeholder}}">
      </textarea>
      </ng-container>

     <!--image-->
      <ng-container *ngSwitchCase="'image'" >
        <img [src]="field?.src" alt="无图"/>
      </ng-container>

      <!--select-->
      <ng-container *ngSwitchCase="'dropdownbox'">
        <select
          #dropdownbox
          [id]="field?.key"
          [formControlName]="field?.key"
          (input)="onInput($event)"
          class="form-control">
          <option [hidden]="field?.value">{{field?.placeholder}}</option>
          <option *ngFor="let item of field?.list" value="{{item[field?.optionValue]}}" [selected]="field?.value===item[field?.optionValue]">{{item[field?.optionName]}}</option>
        </select>
      </ng-container>

      <!--radio-->
      <ng-container *ngSwitchCase="'radiosbox'">
        <div class="form-control">
          <div class="form-check form-check-inline mr-1" *ngFor="let item of field?.list">
            <input class="form-check-input" type="radio" [formControlName]="field?.key" [checked]="item.type === field?.value" id="{{'inlineRadio'+item.type}}" value="{{item.type}}">
            <label class="form-check-label" for="{{'inlineRadio'+item.type}}">{{item.name}}</label>
          </div>
        </div>
      </ng-container>

      <!--tree-->
      <ng-container *ngSwitchCase="'treebox'">
        <input
          [hidden]="field?.hidden"
          [id]="field?.key"
          class="form-control"
          value="{{field?.value}}"
          [formControlName]="field?.key"
          [type]="field?.type"
          placeholder="{{field?.placeholder}}"
        />
        <span *ngIf="formErrors[field?.key]" [hidden]="field?.hidden" class="text-danger">
          {{formErrors[field?.key]}}
        </span>
        <span (click)="treeShow(field)"
          [hidden]="field?.hidden"
          style="position: absolute;
          top: 0;
          width: 88%;
          height: 100%;">
        </span>
      </ng-container>
    </div>
  </div>
</div>
