::ng-deep  .modal-dialog{
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  .modal-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .modal-body{
      max-height: 500px;
      overflow: auto;
    }
  }
}
