<div class="org-agency">
  <app-tables-popular
    [tableType]="'tree'"
    [treeList]="agencyList"
    [modalTreeList]="agencyTree"
    [modalTreeTitle]="'请选择组织'"
    [fields]="agencyFields"
    [modalTitle]="'机构添加'"
    [updateTitle]="'机构信息修改'"
    (deleteChange)="agencyDelete($event)"
    (addChange)="agencyAdd($event)"
    (updateChange)="agencyUpdate($event)"
    (treeSelectChange)="onTreeSelectChang($event)"
  >
  </app-tables-popular>
  <ngx-loading [show]="agencyLoading" [config]="{backdropBorderRadius: '3px'}"></ngx-loading>
  <app-smart-alert [alertsDismiss]="agencyAlertsDis"></app-smart-alert>
</div>
